h1{
  text-align: center;
}

ul{
  list-style-type: disc;
}

p{
  font-family: 'Redacted Script', cursive;
  size: 1em;
}

.Foto{
  border-radius: 200px;
  border: 1px solid black;
}
.icon{
  width: 16px;
  height: 16px;
}
div.backG{
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F2.bp.blogspot.com%2F-ZOQEZzLsB50%2FV89wZ4z27uI%2FAAAAAAAAAaU%2FUqejOE-PfQoVAGWO-gq3l__fPPQM9l7zgCLcB%2Fs1920%2FNature_Wave_Ocean_Sunset_Sunlight_Water_hd.jpg&f=1&nofb=1");
  opacity: 0.75;
}

body{
  opacity: 1;
}
