h1{
  text-align: center;
}

ul{
  list-style-type: disc;
}

p{
  font-family: 'Redacted Script', cursive;
  size: 1em;
}

.Foto{
  border-radius: 200px;
  border: 1px solid black;
}
.icon{
  width: 16px;
  height: 16px;
}
body{
  opacity: 0.75;
}

div.notOpacity{
  opacity: 1;
}
