ul{
    list-style-type: square;
}

.Titulo{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-image: "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpng.pngtree.com%2F58pic%2F28%2F92%2F72%2F31r58PICJQj0K8pn58PIC0cA3_PIC2018.jpg&f=1&nofb=1";
}
